//-------------------- Containers START --------------------
.container-card {
    position: relative;
    padding: 0px;
}

.textBlock {
    position: absolute;
    bottom: 0px;
    background-color: rgba(00,00,00,0.7);
    color: $img-text-color;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    // right: 15px !important;
    margin: 0;

}

.imageInArticle {
     width: 100%;
     object-fit: cover;
}

.cardTwo {
    p:nth-child(3) {
        font-size: 12px;
        font-family: $primary-font;
    }
}
//-------------------- Containers END --------------------

//-------------------- Text START --------------------
p {
     opacity: 100%;
     margin-bottom: 0px;
 }

 h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: $secondary-font;
 }

p:nth-child(1) {
    font-size: 10px;
    font-family: $primary-font;
}

p:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
    font-family: $secondary-font;
}

p:nth-child(3) {
    font-size: 13px;
    font-family: $primary-font;
}

P:nth-child(4) {
    font-size: 10px;
}
//-------------------- Text END --------------------

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 14px;
  }

  p:nth-child(1) {
    font-size: 9px;
  }
}
