/*COLORS*/

$background-color: #ffffff;
$background-navbar: #ffffff;
$logo-color: #0A5582; /*Logo color*/
$text-color: #1E2D37; /*colors on white background*/
$img-text-color: #ffffff; /*colors on img with black background*/
$img-color: #000000; /*70% opacity*/
$input-stroke-color: #1E2D37; /*Border and stroke*/

/*STYLES*/

$border-radius: 10px;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
