.logo {
  font-size: 24px;
  font-family: $primary-font;
  color: $logo-color;
}

.collapse {
  padding-left: 50px;
  padding-right: 100px;
}

.nav-link {
  font-size: 13px;
  font-family: $primary-font;
  color: $text-color;
}
