/*logo*/
.logo {
  font-size: 24px;
  font-family: $primary-font;
  color: $logo-color;
}

/*menu*/
 .nav-link {
  font-size: 13px;
  font-family: $primary-font;
  color: $text-color !important;
}

.nav-item {
  padding-right: 30px;
}

/*search form*/
.form-control {
  font-size: 13px;
  border-color: $text-color;
  color: $text-color !important;
}

.has-search .form-control-feedback {
  color: $text-color;
}
