.logo {
  font-size: 24px;
  font-family: $primary-font;
  color: $logo-color;
}

.collapse {
  padding-left: 30px;
  padding-right: 100px;
}

 a.nav-link {
  font-size: 13px;
  font-family: $primary-font;
  color: $text-color;
}

.nav-item {
  padding-left: 30px;
}
