/*import*/
@import "colors.scss";
@import "ad.scss";
@import "typography.scss";
@import "cardbig.scss";
@import "navbar.scss";

body {
  background-color: $background-color;
}

hr {
  background-color: $input-stroke-color;
  height: 1px;
}
