/*colors*/
@import "colors.scss";


body {
  background-color: $background-color;
}

.ad {
position: relative;
text-align: center;
color: white;
}

.ad-text {
position: absolute;
top: 8px;
left: 16px;
}
