.container {
    position: relative;
    padding: 0px;
}

.textBlock {
    position: absolute;
    bottom: 0px;
    background-color: rgba(00,00,00,0.7);
    color: white;
    padding-left: 27px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
}
 .imageInArticle {
     width: 100%;
 }

 h3, p {
     opacity: 100%;
 }